*{margin:0;padding:0;border:0;}
body{width:964px;
     background-color:#F2F2F2;
     text-align: center;  /* pt IE8 */
	 margin:auto;  /* pt moz */
	 border:2px solid #E5E5E5;
     font-family: "Times New Roman", Georgia, Serif;}
.pv_meniu a{text-decoration:none;color:#F7F7F7;outline:none;}


.pv_meniu{list-style:none;}

.pv_meniu li{float:left;
             line-height:35px;
			 font-size:16px;
  		     background-color:#696565;}

.pv_meniu li>a{background-color:#696565;padding:8px; }			 
.pv_meniu li>a:hover{background-color:#292525;cursor:pointer; }
input[name="submit"]:hover,input[name="submit_add"]:hover{cursor:pointer;
                                                          text-decoration:underline;}
input[name="submit"],input[name="submit_add"]{background-color:inherit;  
                                              font-family: "Times New Roman", Georgia, Serif;
                                              font-size:16px;
                                              color:#004de6;}

input[name="lucrator_add"]{background-color:inherit;}
.add_reg{width:450px;padding:10px;margin:auto; }
.add_reg input[type="text"]{background-color:inherit;
                           color:#000;
                           border:1px dotted #000;
                           font-family: "Times New Roman", Georgia, Serif; 
                    	   font-size:16px;
                           margin:4px;
                           width:200px;
                           padding:3px;}
.add_reg select{padding:3px;border:1px dotted #000; }
                          
.hov:hover{text-decoration:underline;} 
select{background-color:inherit;font-family: "Times New Roman", Georgia, Serif;font-size:16px; }
 	 
#sus{height:100px;}
#mijloc{height:960px;
        margin:2px auto 2px auto;}
#jos{height:50px;}

.stil_div_pv{width:960px;
			 background-color:#E5E5E5;
			 border:1px solid #929191;
			 margin:auto;
             text-align: center;}
             

p.text1{font-size:18px; }

.pv_st{font-size:18px;background-color:#E5E5E5;font-family: "Times New Roman", Georgia, Serif; }

.edit {background-color:inherit;
       color:#000;
       border:1px solid #000;
       font-family: "Times New Roman", Georgia, Serif; 
	   font-size:16px;
       width:100%;
       padding:3px;}
       
.afisare tr:nth-child(odd){background-color:#cccccc; }
.afisare tr:first-child{background-color:#696565; 
                        color:#F2F2F2;}       
.afisare{border-collapse:collapse;
         margin:auto;
         line-height:28px;}
.afisare tr td{padding:0 5px ;}

.afisare a{text-decoration:none;color:#004de6;outline:none;}
.div_genpv2,.div_genpv1,.div_genpv3{width:440px;
     height:auto;
     border:1px solid black;
     text-align:left;
     margin:inherit;
     padding:15px;
 	}
.div_genpv2{text-align:center;}
.div_genpv2 input{background-color:#E5E5E5; border:1px dotted #000;padding:3px;}
.div_genpv2 input[type="date"]:hover{border:1px solid black;cursor:pointer; }


.div_genpv3{text-align:center;}
.div_genpv1 p{text-align:center;font-family: "Times New Roman", Georgia, Serif; 
	   font-size:16px;}
p.red{color:red; }
    
input[name="check_list[]"]{ margin:5px 5px 5px 25px; padding:51px; }

.div_genpv2 input[type="date"]{ width:95px;text-align:center;font-family: "Times New Roman", Georgia, Serif; 
	   font-size:16px;}
       
input[name="trim_f"]{padding:4px;background-color:#E5E5E5;border:1px solid #E5E5E5;;font-family: "Times New Roman", Georgia, Serif;font-size:16px; }
input[name="trim_f"]:hover{cursor:pointer; border:1px dotted #000;}
.div_genpv2 label:hover, .div_genpv2 input[name="tura"]:hover{cursor:pointer; }
.lab:hover,input[name="check_list[]"]:hover{cursor:pointer;}

